.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Use the full height of the viewport */
    overflow: hidden; /* Prevents scrolling */
}

.status-box {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; /* Stretch across the top */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Evenly space content across the top */
    font-size: 14px; /* Adjust font size */
}

.renderer-container {
    flex-grow: 1; /* Allow this container to grow to fill available space */
    margin: 5px;
    background-color: #eeeeee;
    overflow: hidden; /* Hide any overflow */
}

.controls {
    background-color: #f8f9fa;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* More responsive grid */
    gap: 5px; /* Reduced gap */
    border-top: 1px solid #dee2e6;
}

input[type="range"], button {
    width: 100%; /* Ensure full width usage */
    margin: 5px 0;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px; /* Reduce padding slightly */
    font-size: 14px; /* Adjust font size for buttons */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

label {
    margin: 5px;
    font-weight: bold;
    color: #333;
}

span {
    color: #555;
}

@media (max-width: 600px) {
    .status-box {
        flex-direction: column; /* Stack the status items vertically on smaller screens */
    }

    .status-item {
        justify-content: center; /* Center the items within each status box */
        margin-right: 0; /* Remove right margin on smaller screens */
    }
}
